.highlighted {
    background-color: $color-secondary;
    height: 100vh;

    @include response-to(800px) {
        background-color: green;
    }
    & .banner {
        & img {
            object-fit: cover;
            height: 100vh;
            // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            // filter: grayscale(100%);
        }
    }

    #block-highlightedbanner {
        & .clearfix.text-formatted.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item {
            position: relative;
        }
        & .banner-text {
            position: absolute;
            font-size: 1.5em;
            top: 70%;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            text-align: center;
        }
    }
}